<header>
    <h1>Overview</h1>
    <div class="dropdown">
        <div class="dropdown-toggle user" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../../../assets/images/Avatar.png" alt="">
          <div class="details">
            <h5 class="name">Mit Patel</h5>
            <span class="title">Manager</span>
          </div>
        </div>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/">Overview</a></li>
          <li><a class="dropdown-item" routerLink="/calling">Calling</a></li>
          <li (click)="toggleTheme()"><a class="dropdown-item">Switch Theme</a></li>
          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
        </ul>
      </div>
</header>
