header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;

    h1 {
        color: var(--ag-black);
        font-size: 38px;
    }

    .dropdown {

        

        .dropdown-toggle::after {
            border-top: .3em solid var(--ag-black);
        }

        .user {
            display: flex;
            align-items: center;
            gap: 0.7rem;

            .details {
                line-height: 0.6rem;
                user-select: none;

                h5 {
                    font-weight: bold;
                    color: var(--ag-black);
                }

                span {
                    color: var(--ag-secondary-subtle);
                    font-size: 12px;
                }
            }
        }
    }
}