<!-- <div class="circle-rating" *ngIf="max && current">
    <round-progress
  [current]="current"
  [max]="max"
  [color]="'var(--ag-primary)'"
  [background]="'#EFEFEF'"
  [radius]="radius ? radius : 42"
  [stroke]="stroke ? stroke : 5"
  [semicircle]="false"
  [rounded]="true"
  [clockwise]="true"
  [responsive]="false"
  [duration]="800"
  [animation]="'easeInOutQuart'"
  [animationDelay]="0"
  [title]="max + '/' + current"
  
  ></round-progress>
  <div class="text-content">{{current}}%</div>

</div> -->
<circle-progress
  [percent]="current"
  [radius]="35"
  [outerStrokeWidth]="5"
  [showSubtitle]="false"
  [showInnerStroke]="true"
  [innerStrokeColor]="'#e7e8ea'"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'var(--ag-primary)'"
  [animation]="true"
  [space]="-5"
  [animationDuration]="100"
></circle-progress>