<div class="circle-rating" *ngIf="max && current">
    <round-progress
  [current]="current"
  [max]="max"
  [color]="'var(--ag-primary)'"
  [background]="'#EFEFEF'"
  [radius]="radius ? radius : 42"
  [stroke]="stroke ? stroke : 5"
  [semicircle]="false"
  [rounded]="true"
  [clockwise]="true"
  [responsive]="false"
  [duration]="800"
  [animation]="'easeInOutQuart'"
  [animationDelay]="0"
  [title]="max + '/' + current"
  
  ></round-progress>
  <div class="text-content">{{current}}%</div>

</div>