<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-xxl-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-9 col-xxl-10 main-view">
            <div class="row min-vh-100">
                <div class="col-12">
                    <app-header></app-header>
                </div>
                <div class="col-12 pb-4">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>