<div class="row gy-2">
    <div class="col-12">
        <nav>
            <a href=""><i class="fa-solid fa-arrow-left"></i> Back</a>
        </nav>
    </div>
    <div class="order-2 order-md-1 col-md-8 col-xl-9">
        <div class="row gy-2">
            <div class="col-12">

                <app-audio-player></app-audio-player>
            </div>
            <div class="col-12 col-xl-6">
                <app-conversation></app-conversation>
            </div>
            <div class="col-12 col-xl-6">
                <app-audio-transcription></app-audio-transcription>
            </div>
        </div>
    </div>

    <div class="order-1 order-md-2 col-md-4 col-xl-3">
        <app-customer-info></app-customer-info>
    </div>
</div>