<aside class="d-flex d-lg-block  align-items-center justify-content-between pe-4 pe-md-3 pe-lg-0">
    <div class="head">
        <img src="../../../../assets/images/Logo.png" alt="">
        <h1>Agecal</h1>
    </div>
    <nav class="d-none d-md-flex d-lg-block align-items-center justify-content-between">
        <div class="label d-sm-none">Main Menu</div>
        <a href="" class="active">Monitor</a>
        <a href="">Agent Builder</a>
        <a href="">Role Management</a>
        <a href="">Branding</a>
        <a href="">Integrations</a>
    </nav>
    <div class="dropdown d-md-none">
        <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Main Menu
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Monitor</a></li>
          <li><a class="dropdown-item" href="#">Agent Builder</a></li>
          <li><a class="dropdown-item" href="#">Role Management</a></li>
          <li><a class="dropdown-item" href="#">Branding</a></li>
          <li><a class="dropdown-item" href="#">Integrations</a></li>
        </ul>
      </div>
</aside>
