<section class="customer-info">
    <div class="head">
        <i class="fa-regular fa-file-audio"></i>
        <h3>Customer Info</h3>
    </div>
    <div class="profile">
        <div class="avatar">
            <img src="../../../../assets/images/Customer Avatar.png" alt="">
            <div class="status-bedge rounded-pill">
                <div class="dot"></div>
                <span>Available</span>
            </div>
        </div>
    </div>
    <h3>Personal Info</h3>
    <div class="details">
        <div class="rows">
            <h6>Customer ID</h6>
            <p>A12345678</p>
        </div>
        <div class="rows">
            <h6>Full Name</h6>
            <p>Alex Smith</p>
        </div>
        <div class="rows">
            <h6>Joined Date</h6>
            <p>24 Year</p>
        </div>
    </div>
    <h3>Contact Info</h3>
    <div class="details">
        <div class="rows">
            <h6>Email</h6>
            <p>{{'Jeoffrey@gamil.com'}}</p>
        </div>
        <div class="rows">
            <h6>Phone</h6>
            <p>+1 345 3598412</p>
        </div>
        <div class="rows">
            <h6>Address</h6>
            <p>Copell, Virginia</p>
        </div>
    </div>
    <h3>His Story</h3>
    <div class="details">
        He had always been passionate about helping people. When she joined as a customer service agent, He was
        excited about the opportunity to assist customers with their needs and queries.
    </div>
    <h3>Customer History</h3>
    <div class="call-logs">
        <div class="log">
            <i class="fa-solid fa-phone"></i>
            <h3>Sofia Jeans</h3>
            <div class="time">09:00 AM, Jun 13,24</div>
        </div>
        <div class="log">
            <i class="fa-solid fa-phone"></i>
            <h3>Sofia Jeans</h3>
            <div class="time">09:00 AM, Jun 13,24</div>
        </div>
        <div class="log">
            <i class="fa-solid fa-phone"></i>
            <h3>Sofia Jeans</h3>
            <div class="time">09:00 AM, Jun 13,24</div>
        </div>
    </div>

</section>